@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-principal: RGB(238, 238, 238);
  --color-borde: RGB(204, 204, 204);
  --color-barras: RGB(237, 140, 43);
  --color-letras: RGB(33, 37, 41);
  --color-field: RGB(255, 255, 255);
  --color-border-field: RGB(206, 212, 218);
  --color-fondo-tipo-moneda: RGB(233, 236, 239);
  --color-letra-field: RGB(73, 80, 87);
  /* EMI Scheme */
  --color-EMI-in-arrears: RGB(203, 211, 218);
  --color-subletras-EMI: RGB(116, 116, 116);
  --color-grafica-verde: RGB(136, 168, 37);
  --color-grafica-amarillo: RGB(237, 140, 43);
  --color-grafica-rojo: RGB(207, 74, 48);
}

@layer components {

  /* TABLES */
  .bg-table-principal {
    background-color: RGB(136, 168, 37);
    color: white;
  }

  .bg-table-amarillo {
    background-color: RGB(237, 140, 43);
    color: white;
  }

  .bg-table-rojo {
    background-color: RGB(184,32,76);
    color: white;
  }

  .bg-table-gris {
    background-color: RGB(222,222,222);
    color: black;
  }

  .color-table-gris-oscuro {
    color: #212529;
  }

  .color-table-gris-oscuro-tr {
    color: RGB(33,37,41, 0.9);
  }

  .text-table-size {
    font-size: 14px;
    font-weight: 400;
  }

  .bg-gris-principal {
    background-color: RGB(238, 238, 238);
  }

  .rayita-slider {
    width: 1.5px;
    height: 10px;
    background-color: RGB(204, 204, 204);
  }

  .outline-dashed-gris {
    border: 3px dashed RGB(204, 204, 204);
  }

  .border-s-gris {
    border: 1px solid RGB(204, 204, 204);
  }

  .bg-currency {
    background-color: RGB(233, 236, 239);
  }

  .renge-barra input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  .renge-barra-2 input[type="range"]:focus {
    outline: none;
  }

  .renge-barra-3 input[type="range"]::-webkit-slider-runnable-track {
    /* background: RGB(237, 140, 43); */
    border-radius: 0.5rem;
    height: 0.5rem;
    position: relative;
    z-index: 1;
  }

  .renge-barra-4 input[type="range"]::-moz-range-track {
    /* background: RGB(237, 140, 43); */
    border-radius: 0.5rem;
    height: 0.5rem;
    position: relative;
    z-index: 1;
  }

  .renge-barra-5 input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;

    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: red;
    outline: 2px solid black;
    margin-top: -5px;
    z-index: 1;
  }

  .renge-barra-6 input[type="range"]::-moz-range-thumb{
    border: none;
    border-radius: 100%;

    background-color: white;
    outline: 2px solid black;

    height: 14px;
    width: 14px;

    z-index: 1;
  }

  .progress-before {
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 8px;
    margin-top: 6px;
    border-radius: 12px;

    background-color: red;
    z-index: 0;
  }

  .progress-after {
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 8px;
    margin-top: 6px;
    border-radius: 12px;

    background-color:white;
    z-index: 0;
  }

  .range-input {
    position: relative;
  }
}
